.example-container {
  display: flex;
  flex-direction: column;
}

.example-container {
  width: 800px;
  margin: 0 auto;

}

.title {
	text-align: center;
	padding-top: 50px;
}

.button {
	margin: 2px;
}

.mat-grid-tile {
}

.result {
	padding-bottom: 5px;
}